@charset 'utf-8';
*{
	box-sizing: border-box;
	font-family: 'Verdana';
	margin: 0px;
	padding: 0px;
}
body{
	background-color: #eaeaea;
}
@media all and (min-width: 700px){
	#wrapper{
		height: 294px;
	}
	#logOn{
		height: 234px;
		width: 574px;
	}
	#logo{
		height: 234px;
		width: 234px;
	}
	#data{
		height: 234px;
		padding: 20px;
		width: 340px;
	}
	label{
		padding-left: 10px;
	}
	input{
		width: 300px;
	}
	#button{
		float: right;
		margin-top: 10px;
	}
	#bottom{
		height: 60px;
	}
	#bottom p{
		line-height: 25px;
	}
	p:first-child{
		font-size: 15px;
	}
	p:last-child{
		font-size: 18px;
	}
}
@media all and (max-width: 699px){
	#wrapper{
		height: 444px;	
	}
	#logOn{
		height: 384px;
		width: 300px;
	}
	#logo{
		height: 140px;
		margin: 20px 80px 0px 80px;
		width: 140px;
	}
	#data{
		height: 234px;
		padding: 20px;
		width: 300px;
	}
	label{
		text-align: center;
	}
	input{
		width: 260px;
	}
	#button{
		margin: 10px auto;
	}
	#bottom{
		height: 50px;
	}
	#bottom p{
		line-height: 20px;
	}
	p:first-child{
		font-size: 12px;
	}
	p:last-child{
		font-size: 15px;
	}
}
#wrapper{
	background-color: #6080c0;
	background: linear-gradient(#305090, #6080c0);
	bottom: 0;
	left: 0; 
	margin: auto;
	position: absolute;
	right: 0; 
	top: 0;
	width: 100%;
}
@media all and (max-height: 444px){
	#wrapper{
		position: static;
	}
}
#logOn{
	margin: 0px auto;
}
#logo{
	float: left;
}
#data{
	float: left;
}
label, input{
	border: none;
	border-radius: 4px;
	display: block;
	margin: 5px 0px;
	outline: none;
}
label{
	color: white;
	height: 22px;
}
input{
	background-color: rgba(255, 255, 255, 0.2);
	color: #fff;
	height: 30px;
	padding: 0px 10px;
}
#button{
	border: 1px solid rgba(255, 255, 255, 0.4);
	background-color: #5070b0;
	color: #fff;
	font-size: 16px;
	height: 40px;
	width: 120px;
}
#button:hover{
	cursor: pointer;
	background-color: #6080c0;
}
#bottom{
	clear: both;
	background-color: rgba(255, 255, 255, 0.2);
	border-top: 1px solid rgba(255, 255, 255, 0.8);
	padding: 5px;
	width: 100%;
}
#bottom p{
	color: #fff;
	text-align: center;
}
#bottom a{
	color: #305090;
	font-weight: bold;
	text-decoration: none;
}