@charset 'utf-8';
*{
	box-sizing: border-box;
	font-family: 'Verdana';
	margin: 0px;
	padding: 0px;
}
button, input{
	border: none;
	outline: none;
}
body{
	background-color: #eaeaea;
}
#error{
	background-color: rgba(0, 0, 0, 0.8);
	height: 40px;
	margin-top: -40px;
	padding-top: 10px;
	position: fixed;
	width: 100%;
	z-index: 2;
}
#statement{
	color: #fff;
	font-size: 14px;
	text-align: center;
}