@charset 'utf-8';
*{
	box-sizing: border-box;
	font-family: 'Verdana';
	margin: 0px;
	padding: 0px;
}
body{
	background-color: #eaeaea;
}
header{
	background-color: #305090;
	height: 60px;
	width: 100%;
}
nav{
	float: left;
}
header button{
	background-color: rgba(255, 255, 255, 0.2);
	background-size: 100%;
	border: none;
	border-radius: 4px;
	float: right;
	height: 50px;
	margin: 5px;
	outline: none;
	width: 50px;
}
#logout{
	background-image: url('../image/logOut.png');
}
header button:hover{
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.3);
}
#container{
	margin: 10px auto;
	min-height: 100px;
	width: 1200px;
}
#activeFriends, #waitingForAccept, #sentInvitations{
	background-color: #fff;
}
#activeFriends{
	float: left;
	margin: 10px;
	min-height: 100px;
	width: 780px;
}
#notYet{
	float: right;
	margin: 10px;
	min-height: 100px;
	width: 380px;
}
#waitingForAccept, #sentInvitations{
	min-height: 100px;
	margin-bottom: 20px;
	width: 100%;
}
h3{
	background-color: #5070b0;
	color: #fff;
	font-weight: 300;
	height: 40px;
	line-height: 40px;
	padding: 0px 10px;
}
